<div class="container animated fadeInDown">
	<div class="row">
		<div class="col-lg-6 col-lg-offset-3 text-center">
			<br/>
			<br/>
			<div>
				<h1>Login</h1>
			</div>
			<br/>
			<br/>
			<br/>
			<h1 class="logo-name" i18n>Kewl Music</h1>

			<form [formGroup]="loginGroup" (ngSubmit)="login()">
				<div class="form-group">
					<input type="text" class="form-control" formControlName="username">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" formControlName="password">
				</div>
				<button type="submit" id="btnLogin" name="btnLogin" class="btn btn-primary btn-block m-b" [disabled]="!loginGroup.valid">Login</button>
				<br/>
				<div *ngIf="errorMessage">
					<h2 class="text-danger">
						<span class="glyphicon glyphicon-info-sign fa-2x"></span>
						{{errorMessage}}
					</h2>
				</div>
			</form>

		</div>
	</div>
</div>
