<div class="container">
    <div class="jumbotron">
        <h1>Welcome to Kewl Music!</h1>
        <p>This is an example the awesome sauce that is Angular2!</p>
    </div>
    <p>Feel free to browse artists and albums. Notice the following functionality provided in this demo:</p>
    <ul>
        <li>Multiple layouts</li>
        <li>Reusable components: loading, pager, back</li>
        <li>Directives: Logoff</li>
        <li>Services: AuthService, ArtistService, AlbumService</li>
        <li>Built using Modules: Auth, Artist, Album, Core</li>
        <li>Parent and Child routing</li>
        <li>Auth guard to prevent unauthorized access to any page</li>
        <li>Login uses FormGroup to define form elements and validation</li>
        <li>Web Api is implemented using OData so all data requests are shaped by our service!</li>
        <li>Paging implemented for all lists</li>
        <li>Search for all lists</li>
        <li>Paging respects current search filter</li>
        <li>Album art is stored as a base64 encoded string in the db. Album shows how to use a property of the model to display
            the image in an img tag</li>
    </ul>
</div>
