<nav class="navbar navbar-default navbar-static-top navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/home">Kewl Music</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active">
        <a routerLink="/artists">Artists</a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/albums">Albums</a>
      </li>
    </ul>
    <div class="navbar-form navbar-right">
      <div class="form-group">
        <input type="text" id="search" ng-model-options="{debounce: 500}" [(ngModel)]="searchService.filter" class="form-control" placeholder="Search">
      </div>
      <button type="button" class="btn btn-default" appLogoff>
        <span class="glyphicon glyphicon-off" aria-hidden="true"></span> Logoff
      </button>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
