.album-thumbnail {
    width: 64px;
    height: 64px;
    margin: 0 auto;
}

.col-lg-1:nth-child(11n+1){
    clear: left;
}

.title {
    font-weight: bold;
}

.album {
    margin-top: 10px;
    cursor: pointer;
}
